/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;

}

.container {
  width: 100%;
  margin-top: 100%;
  padding:0 ;
  overflow: hidden;
}

/* Estilos del encabezado */
header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
}

header .logo {
  float: left;
}

header nav {
  float: right;
  margin-top: 20px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #f2f2f2;
}

/* Sección de Héroe */
.hero {
  background: url('img/Screenshot\ 2024-05-05\ 224544.png') center center no-repeat;
  background-size: cover;

  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero .btn {
  display: inline-block;
  background: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.hero .btn:hover {
  background: #45a049;
}

/* Sección de Noticias */
.noticias {
  padding: 60px 0;
  background: #f9f9f9;
}

.noticias h2 {
  margin-bottom: 30px;
  text-align: center;
}

.noticia {
  margin-bottom: 20px;
}

.noticia h3 {
  color: #333;
}

.noticia p {
  color: #666;
}

.noticia .btn {
  background: #007BFF;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.noticia .btn:hover {
  background: #0056b3;
}

/* Sección de Instagram */
.instagram {
  padding: 60px 0;
  background: #e9ecef;
  text-align: center;
}

.instagram h2 {
  margin-bottom: 30px;
}

.instagram-posts {
  display: flex;
  justify-content: space-around;
}

.instagram-posts .post img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Sección de Agenda de Eventos */
.agenda-eventos {
  padding: 60px 0;
}

.agenda-eventos h2 {
  margin-bottom: 30px;
  text-align: center;
}

.agenda-eventos .evento {
  margin-bottom: 20px;
}

/* Sección de Calendario */
.calendario {
  padding: 60px 0;
  background: #f9f9f9;
}

.calendario h2 {
  text-align: center;
  margin-bottom: 30px;
}

.calendario-mes {
  text-align: center;
}

/* Sección de Información Relevante */
.informacion-relevante {
  padding: 60px 0;
}

.informacion-relevante h2 {
  text-align: center;
  margin-bottom: 30px;
}

.informacion-relevante p {
  text-align: center;
  color: #666;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 20px 0;
  background: #333;
  color: #fff;
}
